/* ============== BODY ================== */

body {
  background-color: #E1E1E1;
  transition: all 2000ms ease;
}

.citation{
  color: white;
  letter-spacing: 20px;
}


/* ============== ANIMATION P5 POSITION================== */
#animation{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* the animation is in an inferior layer Vs the game(upper) */
  z-index: -1;
  /* para que sea transparente al inicio --> animación */
  opacity: 0;
  transition: opacity 3000ms ease;
}

#animation.fade-in {
  opacity: 1;
}

#animation2{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* the animation is in an inferior layer Vs the game(upper) */
  z-index: -1;
  opacity: 0;
  transition: opacity 5000ms ease;
}

#animation2.fade-in {
  opacity: 1;
}


/* ============== SECTION BUTTONS ================== */

.test{
  align-content: center;
  text-align: center;
  text-shadow: 0 0 5px grey;
}

/*.section buttons {
  background-color: red;
  transition: all 2000ms ease;
}

#one{
  opacity: 0;
  transition: opacity 2000ms ease;
}

#one.fade-in{
  opacity: 1;
}
*/



#circle{
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;

  border-width: 0px 12px 0px 12px;
  border-style: double;
  border-color: white;
  border-radius:40px 40px 60px 60px;
  -moz-border-radius:40px 40px 60px 60px;
  -webkit-border-radius:40px 40px 60px 60px;

  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#circle:hover {
  box-shadow: 3px 3px 50px #CCFFFF inset;
}


#square {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;

  border-width: 0px 10px 0px 10px;
  border-style: double;
  border-color: white;
/*  border-radius:4px 4px 6px 6px;
  -moz-border-radius:4px 4px 6px 6px;
  -webkit-border-radius:4px 4px 6px 6px;*/
}

#square:hover {
  box-shadow: 1px 1px 100px #CCFFFF;
}

/* ============== MODAL ================== */
#openModal {
}

.modalDialog{
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(225,225,225,0.7);
  /*background: rgba(204,255,255,0.7);*/
  /*background: rgba(51,102,102,0.6);*/
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 300px;
  position: relative;
  margin: 10% auto;
  margin-top: 20%;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;

  background: #fff;
  background: -moz-linear-gradient(#fff,  #CCFFFF);
  background: -webkit-linear-gradient(#fff,  #CCFFFF);
  background: -o-linear-gradient(#fff,  #CCFFFF);
}

#modalText{
  text-align: center;
  padding-top: 50px;
  text-shadow: 0px 0px red;
  color: grey;
  box-shadow: 10px 10px 60px #888888;
}

#modalText p{
  font-style: italic;
  letter-spacing: 5px;
}

#modalText h6{
  letter-spacing: 5px;
  color: #CFD8DC;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;

  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;

  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #CCFFFF; }


/* ============== HOME BUTTON ================== */

.home-button h6{
  letter-spacing: 5px;
  color: white;

  position: fixed;
  margin: 65px;
  margin-left: 125px;
}

#circlehome{
  width: 50px;
  height: 50px;
  margin: 50px;
  padding: 0;

  position: fixed;

  border-width: 0px 6px 0px 6px;
  border-style: double;
  border-color: white;
  border-radius:10px 10px 20px 20px;
  -moz-border-radius:10px 10px 20px 20px;
  -webkit-border-radius:10px 10px 20px 20px;

  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#circlehome:hover {
  box-shadow: 2px 2px 30px #CCFFFF inset;
}


/* ============== FOOTER ================== */
.footer {
  padding: 8 rem 0 7rem;
  text-align: center;
}


/* ============== RESPONSIVENESS =================== */

/* ============== BIGGER THAN 400 ================== */
@media (min-width: 400px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .test {
    margin-bottom: 3rem;
  }
}


/* ============== BIGGER THAN 550 ================== */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
}

/* ============== BIGGER THAN 750 ================== */
@media (min-width: 750px) {
  .section {
    padding: 14rem 0 15rem;
  }
}

/* ============== BIGGER THAN 1000 ================== */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
}
