/* ============== BODY ================== */

.main {
}

.t{
  color:white;
  font-size: 20px;
  text-shadow: 0 0 2px white, 0 0 11px #CCFFFF;
  letter-spacing: 16px;
  margin-bottom: 30px;
}

.title {
  /* opacidad 0 = invisible */
  opacity: 0;
  transition: opacity 1000ms ease;
}

.title.fade-in {
  /* opacidad 1 = visible */
  opacity: 1;
}

/* ============== GAME ================== */

#game {
  /* margin 0 auto --> para centrar elementos */
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  transition: opacity 2300ms ease;
}

 /* > div --> son los hijos directos de game */
#game > div {
  margin: 0 auto;
}

#game.fade-in {
  opacity: 1;
}

.row {
  text-align: center;
}

.cell {
  display: inline-block;
}


/* ============== TRIANGULAR CELL ================== */

.cell {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid white;
  /* la posición relativa es útil cuando el child va a tener absolute */
  position: relative;
  cursor: pointer;
  /* todos los elementos tienen una transición */
  transition: all 300ms ease;
}

.cell .triangle-content {
  /* en relación a la posición relativa del padre */
  position: absolute;
  bottom: -115px;
  left: -7px;
  text-align: center;
}

.cell.ten-selected {
 /* border-bottom: 100px solid #e87d7d;*/
  border-bottom: 100px solid #FFA07A;
  opacity: 0.7;
}

.cell:hover {
  border-bottom: 100px solid #CCFFFF;
}

.cellX {
  font-size: 28px;
  color: #FDFEFE;
  text-align: center;
  line-height: 100px;
  text-shadow: 0 0 10px grey;
}




